@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about ASP.NET Core MVC.</p>
    <p>To learn more about ASP.NET Core MVC, visit <a href="https://docs.microsoft.com/aspnet/core/mvc/?view=aspnetcore-6.0" target="_blank">the documentation</a>.</p>
</div>
