################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FinancePillow/FileContentIndex
/FinancePillowApp/Financeillow/.vs/Financeillow/FileContentIndex
/App/Data/.vs/Data/FileContentIndex
/App/Presentation/.vs/Presentation/FileContentIndex
/App/Testing/.vs/Testing/FileContentIndex/1014d693-4374-439e-b17c-a978723090e6.vsidx
/App/Testing/.vs/Testing/FileContentIndex/2aaf7bcc-c301-4575-ab70-69632381dc1a.vsidx
*.vsidx
/App/Testing/.vs/Testing/FileContentIndex/58b2f349-da53-4ec7-9acb-179bcfbb7f0a.vsidx
/App/Testing/.vs/Testing/FileContentIndex/87c2413e-ab77-4313-b7cf-49d20982f67d.vsidx
/App/Testing/.vs/Testing/FileContentIndex/a01fe23a-1191-47a9-baac-26f5adc8efdb.vsidx
