################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FinancePillow/FileContentIndex
/FinancePillowApp/Financeillow/.vs/Financeillow/FileContentIndex
