/* Light theme styles */
h1,
h2,
h3,
h4,
h5,
h6,
.nav-link,
p {
    color: #333;
}

button {
    background-color: #007BFF;
    color: #fff;
}

    button:hover {
        background-color: #0056b3;
    }

a {
    color: #58a6ff;
}

    a:hover {
        color: #88c2ff;
    }

.home-div {
    background-color: #f9f9f9;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #007BFF;
}

label {
    color: #58a6ff;
}

select,
input {
    background-color: #fff;
    color: #333;
    border: 2px solid #58a6ff;
}

th {
    background-color: #007BFF;
    color: #fff;
}

tr:hover {
    background-color: #f0f0f0; /* Light gray */
}

tr.income {
    background-color: rgba(144, 238, 144, 0.3); /* Light green */
}

tr.expense {
    background-color: rgba(255, 192, 203, 0.3); /* Light pink */
}

