/* General styles */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    padding-top: 100px;
}

.home-div {
    padding: 25px 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    border-bottom: 3px solid #007BFF;
    padding-bottom: 15px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

button {
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
    margin: 15px 0;
}

button:hover {
    background-color: #0056b3;
}

label {
    display: block;
    margin-bottom: 12px;
    color: #58a6ff;
    font-size: 18px;
}

select,
input {
    width: 90%;
    padding: 12px;
    margin: 10px;
    border-radius: 6px;
    font-size: 18px;
    transition: 0.3s;
    border: 2px solid #58a6ff;
}

select:focus,
input:focus {
    border-color: #007BFF;
    outline: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-size: 20px;
}

.logout-form {
    display: inline-block;
}

.logout-div {
    margin-top: 20px;
}

a {
    text-decoration: none;
}

label {
    display: block;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: bold;
}

h3 {
    margin-top: 30px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 0px;
}


span {
    font-weight: bold;
    color: #007bff;
}

.right-nav {
    margin-left: auto; /* Розміщує елементи з правого боку */
}

#themeToggleBtn,
.logout-form button {
    margin-left: 10px; /* Відступ від лівого краю */
}

.limit-warning {
    padding: 15px;
    border-radius: 10px;
    margin: 15px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}

.limit-warning-income {
    background-color: rgb(0, 0, 255, 0.5);
}

.limit-warning-expense {
    background-color: rgb(255, 0, 0, 0.5);
}

.navbar-brand {
    color: #58a6ff;
    font-size: 24px;
}

.convertedAmount {
    padding: 15px;
    font-size: 20px;
}

.convertedAmount p {
    margin: 5px 0;
}

.amount {
    color: #007bff;
}

.currency {
    color: #333;
    font-weight: bold;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 25%;
}

th {
    background-color: #007BFF;
}

tr:hover {
    background-color: #f0f0f0;
}

tr.income {
    background-color: rgba(0, 255, 0, 0.4); 
}

tr.expense {
    background-color: rgba(255, 0, 0, 0.4);
}

.statistics-div {
    display: flex;
    justify-content: space-between;
}