<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FinancePillow</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/lightTheme.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/darkTheme.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Presentation.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-3 fixed-top">
            <div class="container-fluid">
                <p class="navbar-brand" asp-area="">FinancePillow</p>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item" data-lang="uk" style="display: none;">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Головна</a>
                        </li>
                        <li class="nav-item" data-lang="en">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item" data-lang="uk" style="display: none;">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Expenses">Витрати</a>
                        </li>
                        <li class="nav-item" data-lang="en" >
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Expenses">Expenses</a>
                        </li>
                        <li class="nav-item" data-lang="uk" style="display: none;">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Incomes">Доходи</a>
                        </li>
                        <li class="nav-item" data-lang="en">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Incomes">Incomes</a>
                        </li>
                        <li class="nav-item" data-lang="uk" style="display: none;">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="CreditPage">Кредит</a>
                        </li>
                        <li class="nav-item" data-lang="en">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="CreditPage">Credit</a>
                        </li>
                        <li class="nav-item" data-lang="uk" style="display: none;">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="CurrencyPage">Валюта</a>
                        </li>
                        <li class="nav-item" data-lang="en">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="CurrencyPage">Currency</a>
                        </li>
                        <li class="nav-item" data-lang="uk" style="display: none;">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Settings">Налаштування</a>
                        </li>
                        <li class="nav-item" data-lang="en" >
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Settings">Settings</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav flex-grow-2">
                        <li class="nav-item right-nav" data-lang="uk">
                            <button class="btn btn-primary theme-toggle-btn">Змінити тему</button>
                        </li>
                        <li class="nav-item right-nav" data-lang="en" style="display: none;">
                            <button class="btn btn-primary theme-toggle-btn">Change Theme</button>
                        </li>

                        <li class="nav-item right-nav" data-lang="uk">
                            <form class="logout-form" asp-action="Logout" method="post">
                                <button id="themeToggleBtn" class="btn btn-primary" type="submit">Вихід</button>
                            </form>
                        </li>
                        <li class="nav-item right-nav" data-lang="en" style="display: none;">
                            <form class="logout-form" asp-action="Logout" method="post">
                                <button id="themeToggleBtn" class="btn btn-primary" type="submit">Exit</button>
                            </form>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container d-flex justify-content-between align-items-center">
            &copy; 2024 - FinancePillow
            <div>
                <select id="languageSelect" class="form-select float-end">
                    <option value="uk">Українська</option>
                    <option value="en">English</option>
                </select>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
