
<title>Кредитний калькулятор</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function calculate() {
        var term = parseInt($("#term").val());
        var amount = parseFloat($("#amount").val());
        var rate = parseFloat($("#rate").val());
                console.log("xxx");
        $.ajax({
            url: '/Home/CalculateCredit',
            type: 'POST',
            data: {
                term: term,
                amount: amount,
                rate: rate
            },
            success: function (response) {
                console.log("yyy");
                $('#monthlyPayment').text(response.monthlyPayment.toFixed(2));
                $('#totalPayment').text(response.totalPayment.toFixed(2));
                $('#totalInterest').text(response.totalInterest.toFixed(2));

            }
            });
            }
</script>

<div class="home-div">
    <h2 data-lang="en">Loan Calculator</h2>
    <h2 data-lang="uk" style="display: none;">Кредитний калькулятор</h2>

    <label for="term" data-lang="en">Loan Term (months): </label>
    <label for="term" data-lang="uk" style="display: none;">Термін кредитування (місяці): </label>
    <input type="number" id="term">

    <label for="amount" data-lang="en">Loan Amount (UAH): </label>
    <label for="amount" data-lang="uk" style=" display: none;">Сума кредиту (грн): </label>
    <input type="number" id="amount">

    <label for="rate" data-lang="en">Interest Rate (annual %): </label>
    <label for="rate" data-lang="uk" style="display: none;">Відсоткова ставка (% річних): </label>
    <input type="number" id="rate">

    <button onclick="calculate()" data-lang="en">Calculate</button>
    <button onclick="calculate()" data-lang="uk" style="display: none;">Розрахувати</button>
</div>

<div class="home-div">
    <h2 data-lang="en">Results</h2>
    <h2 data-lang="uk" style="display: none;">Результати</h2>

    <p data-lang="en">Monthly Payment: UAH</p>
    <p data-lang="uk" style="display: none;">Щомісячний платіж:  грн</p>
    <span id="monthlyPayment">0.00</span>

    <p data-lang="en">Total Payment: UAH</p>
    <p data-lang="uk" style="display: none;">Загальна сума виплати: грн</p>
    <span id="totalPayment">0.00</span>

    <p data-lang="en">Interest: UAH</p>
    <p data-lang="uk" style="display: none;">Відсотки: грн</p>
    <span id="totalInterest">0.00</span>
</div>

