@{
    ViewData["Title"] = "Hangman Game";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<h1 data-lang="en">Hangman Game</h1>
<h1 data-lang="uk" style="display: none;">Гра "Шибениця"</h1>

<div style="display: flex; justify-content: space-between;">
    <div style="width: 48%;">
        <div id="hangmanWordContainer">
            <div id="hangmanContainer">
                <img id="hangmanImage" src="/Images/hangman0.png" alt="Hangman" />
            </div>

            <div id="wordContainer">
                <span id="wordToGuess"></span>
            </div>
        </div>

        <div id="letterButtons">
            @for (char c = 'A'; c <= 'Z'; c++)
            {
                <button class="letterButton" onclick="checkLetter('@c')" id="@c">@c</button>
            }
        </div>

        <div id="messageContainer">
            <p class="message" data-lang="en"></p>
            <p class="messageuk" data-lang="uk" style="display: none;"></p>
        </div>

        <div id="attemptsContainer">
            <p class="attempts" data-lang="en">Attempts: 0/6</p>
            <p class="attemptsuk" data-lang="uk" style="display: none;">Спроби: 0/6</p>
        </div>

        <button class="restartButton" data-lang="en" onclick="restartGame()">Start new game</button>
        <button class="restartButton" data-lang="uk" style="display: none;" onclick="restartGame()">Розпочати нову гру</button>
    </div>

    <div style="width: 48%;">
        <h3 data-lang="en">Rules:</h3>
        <h3 data-lang="uk" style="display: none;">Правила:</h3>

        <p data-lang="en">The game chooses a random word from a list of words to guess.</p>
        <p data-lang="uk" style="display: none;">Гра вибирає випадкове слово зі списку слів для відгадування.</p>

        <p data-lang="en">The player must guess the word by entering the letters that he thinks can be part of the word.</p>
        <p data-lang="uk" style="display: none;">Гравець має вгадати слово, введенням літер, які, на його думку, можуть входити в це слово.</p>
        <ul>
            <li data-lang="en">If the letter entered is part of a word, that letter is displayed in the position(s) in the word.</li>
            <li data-lang="uk" style="display: none;">Якщо введена літера входить в слово, ця літера відображається на місці(-ах) у слові.</li>

            <li data-lang="en">If the entered letter is not included in the word, then the letter changes color and one attempt is deducted.</li>
            <li data-lang="uk" style="display: none;">Якщо введена літера не входить в слово, то літера змінює колір та віднімається одна спроба.</li>

            <li data-lang="en">The player wins if he guesses the word without making too many mistakes (less than 6 mistakes for this version of the game).</li>
            <li data-lang="uk" style="display: none;">Гравець виграє, якщо відгадає слово, не допустивши зайвої кількості помилок (для цієї версії гри - менше 6 помилок).</li>

            <li data-lang="en">The player loses if they make 6 or more mistakes before guessing the word.</li>
            <li data-lang="uk" style="display: none;">Гравець програє, якщо зробить 6 помилок перед відгадуванням слова.</li>
            <li data-lang="uk" style="display: none;">У цій грі є лише англійські слова.</li>
        </ul>

        <p data-lang="en">Good luck!</p>
        <p data-lang="uk" style="display: none;">Удачі!</p>
    </div>
</div>

<script src="~/js/hangman.js"></script>