@model LoginViewModel
<link rel="stylesheet" href="~/css/logregStyle.css" />

@{
    Layout = null;
}

<h2>FinancePillow</h2>

<div class="login-form">
    <form asp-controller="Home" asp-action="Login" method="post">
        <div>
            <label asp-for="Login"></label>
            <input asp-for="Login" />
            <span asp-validation-for="Login"></span>
        </div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a asp-action="RegisterPage">Register</a></p>
</div>


