@model Presentation.Models.SettingsViewModel

<div class="container">
    <!-- <h1 class="title">Finance Pillow</h1> -->
    <form asp-action="YourAction" asp-controller="YourController" method="post">
        <div class="input-group">
            <label for="username">Псевдонім</label>
            <input type="text" id="username" name="username" class="input" value="@Model.Username" />
        </div>
        <div class="input-group">
            <label for="email">Емейл</label>
            <input type="text" id="email" name="email" class="input" value="@Model.Email" />
        </div>
        <div class="input-group">
            <label for="password">Пароль</label>
            <input type="password" id="password" name="password" class="input" value="@Model.Password" />
        </div>
        <div class="input-group">
            <label for="limit">Ліміт</label>
            <input type="number" id="limit" name="limit" class="input" value="@Model.Limit" />
        </div>
        <div class="button-group">
            <button type="submit" class="button">Зберегти</button>
            <button type="reset" class="button">Скасувати</button>
        </div>
    </form>
</div>
