@model Presentation.Models.UserViewModel

<div class="home-div">
    <label for="login" data-lang="en">Account Settings</label>
    <label for="login" data-lang="uk" style="display: none;">Налаштування акаунту</label>
    <form asp-action="SettingsPost" asp-controller="Home" method="post">
        <div>
            <label for="login" data-lang="en">Login</label>
            <label for="login" data-lang="uk" style="display: none;">Логін</label>
            <input type="text" name="login" value="@Model.Login" />
        </div>
        <div>
            <label for="password" data-lang="en">Password</label>
            <label for="password" data-lang="uk" style="display: none;">Пароль</label>
            <input type="password" name="password" class="input" value="@Model.Password" />
        </div>
        <div>
            <label for="incomeLimit" data-lang="en">Income Limit</label>
            <label for="incomeLimit" data-lang="uk" style="display: none;">Ліміт на доходи</label>
            <input type="number" name="incomeLimit" value="@Model.IncomeLimit" />
        </div>
        <div>
            <label for="incomeLimit" data-lang="en">Expense Limit</label>
            <label for="incomeLimit" data-lang="uk" style="display: none;">Ліміт на витрати</label>
            <input type="number" name="expenseLimit" value="@Model.ExpenseLimit" />
        </div>
        <div>
            <button type="submit" class="button" data-lang="en">Save</button>
            <button type="submit" class="button" data-lang="uk" style="display: none;">Зберегти</button>
            <button type="reset" class="button" data-lang="en">Cancel</button>
            <button type="reset" class="button" data-lang="uk" style="display: none;">Скасувати</button>
        </div>
    </form>
</div>
