@model Presentation.Models.UserViewModel

<div class="container">
    <!-- <h1 class="title">Finance Pillow</h1> -->
    <form asp-action="SettingsPost" asp-controller="Home" method="post">
        <div>
            <label for="login">Login</label>
            <input type="text" name="login" value="@Model.Login" />
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" class="input" value="@Model.Password" />
        </div>
        <div>
            <label for="limit">Limit</label>
            <input type="number" name="limit" value="@Model.Limit" />
        </div>
        <div>
            <button type="submit" class="button">Save</button>
            <button type="reset" class="button">Cancel</button>
        </div>
    </form>
</div>
